{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	<!-- ---------------------------------------------- styles ------------------------------------------ -->
	
	<link rel="stylesheet" href="{% static 'base/assetss/css/main.css' %}">
	{% if LANGUAGE_CODE == 'per' %}
		<link rel="stylesheet" href="{% static 'base/assetss/css/rtl.css' %}">
	{% endif %}
	<!-- ----------------------------------------------------------------------------------------------------- -->
	<!-- swipper  -->
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
	<!-- end swipper  -->
	<title>nasir ahmad ahamdy programmer</title>
</head>
<body>
	<!-- The Site Navigation -->
	<nav>
		<div class="left">
			<div class="button-menu">{% trans 'Menu' %}</div>
			<ul>
				<li>
					<a href="{% url 'base:home' %}">{% trans 'Home' %}</a>
				</li>
				<li>
					<a href="{% url 'projects:ProjectList' %}">{% trans 'projects' %}</a>
				</li>
				<li>
					<a href="{% url 'base:home' %}">{% trans 'Skills' %}</a>
				</li>
				<li>
					<a href="{% url 'base:home' %}">{% trans 'about me' %}</a>
				</li>
				<li>
					<a href="{% url 'base:home' %}">{% trans 'contact' %}</a>
				</li>
				<li>
					<a href="#">
						{% trans 'Selecting Language' %}
				    </a>
					<ul>
						<li>
							<a class="nav-link nav-user mr-0 waves-eff" href="/en{{ request.get_full_path|slice:'4:' }}" role="button">
								{% trans 'English' %}
						    </a>	
						</li>
						<li>
							<a class="nav-link nav-user mr-0 waves-eff" href="/pt{{ request.get_full_path|slice:'4:' }}" role="button">
								{% trans 'Portuguese' %}
						    </a>	
						</li>
						<li>
							<a class="nav-link nav-user mr-0 waves-eff" href="/per{{ request.get_full_path|slice:'4:' }}" role="button">
								{% trans 'persion' %}
						    </a>	
						</li>
						<li>
							<a class="nav-link nav-user mr-0 waves-eff" href="/de{{ request.get_full_path|slice:'4:' }}" role="button">
								{% trans 'Deutsch' %}
						    </a>	
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="right">
			<div class="logo" style="background-image: url({% static 'base/assetss/images/per.jpg' %});"></div>
		</div>
	</nav>
	<!-- /nav  -->
	<a id="home"></a>
	<!-- the site header -->
	<div class="header" style="background-image: url({% static 'base/assetss/images/bg.jpg' %});">
		<div class="title">
			<p class="text">{% trans "hello, i'm" %}</p>
			<h1 class="title">{% trans 'nasir ahmad ahmdy.' %}</h1>
			<div class="sub-title">{% trans 'i am the web developer.' %}</div>
		</div>
	</div>
	<!-- /the site header -->
	{% block main %}{% endblock %}
	<!-- the footer -->
	<div class="footer">
		<ul>
			<li>
				<a href="#"><i class="fab fa-facebook"></i></a>
			</li>
			<li>
				<a href="#"><i class="fab fa-instagram"></i></a>
			</li>
			<li>
				<a href="#"><i class="fab fa-whatsapp"></i></a>
			</li>
		</ul>
	</div>
	<!-- /the footer -->
	<!-- ------------------------------------------------- main js ---------------------------------------- -->
	<script src="{% static 'base/assetss/js/script.js' %}"></script>
	<!-- touch slider -->
	<script>
         $(".carousel").owlCarousel({
           margin: 20,
           loop: true,
           autoplay: true,
           autoplayTimeout: 2000,
           autoplayHoverPause: true,
           responsive: {
             0:{
               items:1,
               nav: false
             },
             600:{
               items:2,
               nav: false
             },
             1000:{
               items:4,
               nav: false
             }
           }
         });
      </script>
</body>
</html>