@font-face{
	font-family: Poppins;
	src:  url('../fonts/Poppins-Light.ttf');
}
@font-face{
	font-family: PoppinsBold;
	src:  url('../fonts/Poppins-Bold.ttf');
}
@font-face{
	font-family: sahel;
	src:  url('../fonts/Sahel-Regular.ttf');
}