{% load i18n %}
<section class="my_skills">
	<h1 class="title">{% trans 'my skills' %}</h1>
	<div class="card-wrapper">
		{% for skill in skill_list %}
			<div class="card" style="--bg-color: {{skill.bg_color}}">
				<div class="logo">
					{{skill.logo|safe}}
				</div>
				<div class="content">
					<div class="title">{{ skill.title }}</div>
					<p class="main-content">
						{{ skill.description }}
					</p>
					<a href="#" class="skill-btn">{{ skill.title }}</a>
				</div>
			</div>
		{% endfor %}
	</div>
</section>